.wrap {
	border: 4px inset blue; 

}

.buttonDelete {
	border: 4px inset green; 
	background-color: green;
}

.checkbox {
	border: 4px inset blue; 
	background-color: green;
	margin: 8px 0.5ex;
/*    margin-left: 90%;
*/}

.selectAll {
	width: 100px;
}
